body {
  background-size: cover;
  background-image: url("./images/background.jpg");
  background-attachment: fixed;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(50, 53, 68);
}
