.Phonetic .text {
  font-size: 20px;
}
.Phonetic a {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.Phonetic a:hover {
  background: navy;
  color: white;
}
